create_venv.bat
create_exe.bat
.venv/
.cursor/
backup/
logs/
scripts antigos/
prototipos/
*sinapi_precos.csv
sinapi/sinapi_processado/
sinapi/sinapi_referencia/
build/
dist/
setup/output/
setup/icone.ico
__pycache__/
sinapi/teste.py
sinapi/status.json
*status.json
docs/